/****** Object:  Table [dbo].[APIMatrix]    Script Date: 25-06-2025 20:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIMatrix](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Module] [nvarchar](100) NULL,
	[Classification] [nvarchar](100) NULL,
	[Feature] [nvarchar](150) NULL,
	[Purpose] [nvarchar](200) NULL,
	[StoredProcedure] [nvarchar](150) NULL,
	[APIEndpoint] [nvarchar](200) NULL,
	[AdditionalDetails] [nvarchar](300) NULL,
	[UIPageUsage] [nvarchar](150) NULL,
	[NavigationPath] [nvarchar](150) NULL,
	[ImplementationStatus] [varchar](20) NULL,
	[UI_API_IntegrationTestingStatus] [varchar](20) NULL,
	[BugsCount] [int] NULL,
	[AssignedTo] [nvarchar](100) NULL,
	[APITestedBy] [nvarchar](100) NULL,
	[UITestedBy] [nvarchar](100) NULL,
	[BlockingBugDescription] [nvarchar](300) NULL,
	[Priority] [varchar](10) NULL,
	[Phase] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[APIMatrix] ON 

SET IDENTITY_INSERT [dbo].[APIMatrix] OFF
GO
ALTER TABLE [dbo].[APIMatrix] ADD  DEFAULT ('Pending') FOR [ImplementationStatus]
GO
ALTER TABLE [dbo].[APIMatrix] ADD  DEFAULT ('Not Started') FOR [UI_API_IntegrationTestingStatus]
GO
ALTER TABLE [dbo].[APIMatrix] ADD  DEFAULT ((0)) FOR [BugsCount]
GO
ALTER TABLE [dbo].[APIMatrix] ADD  DEFAULT ('Medium') FOR [Priority]
GO
ALTER TABLE [dbo].[APIMatrix] ADD  DEFAULT ('Phase 1') FOR [Phase]
GO
ALTER TABLE [dbo].[APIMatrix] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
