################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net8.0/cs/Microsoft.Data.SqlClient.resources.dll
/API/bin/Debug/net8.0/de
/API/bin/Debug/net8.0/es
/API/bin/Debug/net8.0/fr
/API/bin/Debug/net8.0/it
/API/bin/Debug/net8.0/ko
/API/bin/Debug/net8.0/pl
/API/bin/Debug/net8.0/pt-BR
/API/bin/Debug/net8.0/ru
/API/bin/Debug/net8.0/runtimes
/API/bin/Debug/net8.0/ja
/API/bin/Debug/net8.0/tr
/API/bin/Debug/net8.0/zh-Hans
/API/bin/Debug/net8.0/zh-Hant
/API/bin/Release/net8.0/runtimes/unix/lib/net8.0
/API/bin/Release/net8.0/runtimes
/API/bin/Release/net8.0/API.deps.json
/API/bin/Release/net8.0/API.dll
/API/bin/Release/net8.0/API.exe
/API/bin/Release/net8.0/API.pdb
/API/bin/Release/net8.0/API.runtimeconfig.json
/API/bin/Release/net8.0/API.xml
/API/bin/Release/net8.0/appsettings.Development.json
/API/bin/Release/net8.0/appsettings.json
/API/bin/Release/net8.0/Microsoft.OpenApi.dll
/API/bin/Release/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/API/bin/Release/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/API/bin/Release/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/API/bin/Release/net8.0/System.Data.SqlClient.dll
/API/bin/Debug/net8.0/API.deps.json
/API/bin/Debug/net8.0/API.dll
/API/bin/Debug/net8.0/API.exe
/API/bin/Debug/net8.0/API.pdb
/API/bin/Debug/net8.0/API.xml
/API/bin/Debug/net8.0/Azure.Core.dll
/API/bin/Debug/net8.0/Azure.Identity.dll
/API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/API/bin/Debug/net8.0/Microsoft.Bcl.Cryptography.dll
/API/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/API/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/API/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/API/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/API/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/API/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/API/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/API/bin/Debug/net8.0/System.ClientModel.dll
/API/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/API/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
/API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/API/bin/Debug/net8.0/System.Memory.Data.dll
/API/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
/API/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/API/obj/Debug/net8.0/API.AssemblyInfo.cs
/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
/API/obj/Debug/net8.0/API.assets.cache
/API/obj/Debug/net8.0/API.csproj.AssemblyReference.cache
/API/obj/Debug/net8.0/API.csproj.CoreCompileInputs.cache
/API/obj/Debug/net8.0/API.csproj.FileListAbsolute.txt
/API/obj/Debug/net8.0/API.dll
/API/obj/Debug/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
/API/obj/Debug/net8.0/API.genruntimeconfig.cache
/API/obj/Debug/net8.0/API.pdb
/API/obj/Debug/net8.0/API.sourcelink.json
/API/obj/Debug/net8.0/API.xml
/API/obj/Debug/net8.0/apphost.exe
/API/obj/Release/net8.0/PubTmp/Out/runtimes/unix/lib/net8.0/System.Data.SqlClient.dll
/API/obj/Release/net8.0/PubTmp/Out/runtimes/win/lib/net8.0
/API/obj/Release/net8.0/PubTmp/Out/runtimes/win/lib/net8.0/System.Data.SqlClient.dll
/API/obj/Release/net8.0/PubTmp/Out/runtimes/win-arm64/native
/API/obj/Release/net8.0/PubTmp/Out/runtimes/win-arm64/native/sni.dll
/API/obj/Release/net8.0/PubTmp/Out/runtimes/win-x64/native
/API/obj/Release/net8.0/PubTmp/Out/runtimes/win-x64/native/sni.dll
/API/obj/Release/net8.0/PubTmp/Out/runtimes/win-x86/native
/API/obj/Release/net8.0/PubTmp/Out/runtimes/win-x86/native/sni.dll
/API/obj/Release/net8.0/PubTmp/API.Parameters.xml
/API/obj/Release/net8.0/PubTmp/API.SourceManifest.xml
/API/obj/Release/net8.0/PubTmp/Out/API.deps.json
/API/obj/Release/net8.0/PubTmp/Out/API.dll
/API/obj/Release/net8.0/PubTmp/Out/API.exe
/API/obj/Release/net8.0/PubTmp/Out/API.pdb
/API/obj/Release/net8.0/PubTmp/Out/API.runtimeconfig.json
/API/obj/Release/net8.0/PubTmp/Out/API.xml
/API/obj/Release/net8.0/PubTmp/Out/appsettings.Development.json
/API/obj/Release/net8.0/PubTmp/Out/appsettings.json
/API/obj/Release/net8.0/PubTmp/Out/Microsoft.OpenApi.dll
/API/obj/Release/net8.0/PubTmp/Out/Swashbuckle.AspNetCore.Swagger.dll
/API/obj/Release/net8.0/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerGen.dll
/API/obj/Release/net8.0/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerUI.dll
/API/obj/Release/net8.0/PubTmp/Out/System.Data.SqlClient.dll
/API/obj/Release/net8.0/PubTmp/Out/web.config
/API/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/API/obj/Release/net8.0/API.AssemblyInfo.cs
/API/obj/Release/net8.0/API.AssemblyInfoInputs.cache
/API/obj/Release/net8.0/API.assets.cache
/API/obj/Release/net8.0/API.csproj.AssemblyReference.cache
/API/obj/Release/net8.0/API.csproj.CoreCompileInputs.cache
/API/obj/Release/net8.0/API.csproj.FileListAbsolute.txt
/API/obj/Release/net8.0/API.csproj.Up2Date
/API/obj/Release/net8.0/API.dll
/API/obj/Release/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
/API/obj/Release/net8.0/API.genruntimeconfig.cache
/API/obj/Release/net8.0/API.GlobalUsings.g.cs
/API/obj/Release/net8.0/API.MvcApplicationPartsAssemblyInfo.cache
/API/obj/Release/net8.0/API.MvcApplicationPartsAssemblyInfo.cs
/API/obj/Release/net8.0/API.pdb
/API/obj/Release/net8.0/API.xml
/API/obj/Release/net8.0/apphost.exe
/API/obj/Release/net8.0/PublishOutputs.29c57bded1.txt
/API/obj/Release/net8.0/PublishOutputs.428a551b83.txt
/API/obj/Release/net8.0/staticwebassets/msbuild.build.API.props
/API/obj/Release/net8.0/staticwebassets/msbuild.buildMultiTargeting.API.props
/API/obj/Release/net8.0/staticwebassets/msbuild.buildTransitive.API.props
/API/obj/Release/net8.0/staticwebassets.build.json
/API/obj/Release/net8.0/staticwebassets.publish.json
/API/obj/API.csproj.nuget.dgspec.json
/API/obj/API.csproj.nuget.g.targets
/API/obj/project.assets.json
/API/obj/project.nuget.cache
/API/obj/Debug/net8.0/ref/API.dll
/API/obj/Debug/net8.0/refint/API.dll
/API/obj/Release/net8.0/ref/API.dll
/API/obj/Release/net8.0/refint/API.dll
/SQLDb/bin/Debug/SQLDb.dacpac
/SQLDb/bin/Debug/SQLDb.dll
/SQLDb/bin/Debug/SQLDb.pdb
/SQLDb/obj/Debug/Model.xml
/SQLDb/obj/Debug/postdeploy.sql
/SQLDb/obj/Debug/predeploy.sql
/SQLDb/obj/Debug/SQLDb.dll
/SQLDb/obj/Debug/SQLDb.pdb
/SQLDb/obj/Debug/SQLDb.sqlproj.FileListAbsolute.txt
/SQLDb/obj/Release/SQLDb.dll
/SQLDb/obj/Release/SQLDb.pdb
/SQLDb/obj/Release/SQLDb.sqlproj.AssemblyReference.cache
/SQLDb/obj/Release/SQLDb.sqlproj.FileListAbsolute.txt
/publish.zip
/SQLDb/SQLDb.dbmdl
/SQLDb/SQLDb.jfm
/API/Properties
/.vs
/SQLDb/bin/Release
/publish
/fusioboard-db/obj/Release/fusioboard-db.sqlproj.AssemblyReference.cache
/fusioboard-db/obj/Release/fusioboard-db.sqlproj.FileListAbsolute.txt
/fusioboard-db/obj/Release/fusioboard_db.dll
/fusioboard-db/obj/Release/fusioboard_db.pdb
/fusioboard-db/fusioboard-db.dbmdl
/fusioboard-db/fusioboard-db.jfm
/fusioboard-db/fusioboard-db.sqlproj
/fusioboard-db/obj/Debug/fusioboard-db.sqlproj.FileListAbsolute.txt
/fusioboard-db/obj/Debug/fusioboard_db.dll
/fusioboard-db/obj/Debug/fusioboard_db.pdb
/fusioboard-db/obj/Debug/Model.xml
/fusioboard-db/bin/Debug/fusioboard-db.dacpac
/fusioboard-db/bin/Debug/fusioboard_db.dll
/fusioboard-db/bin/Debug/fusioboard_db.pdb
/fusioboard-db/bin/Release/fusioboard-db.dacpac
/fusioboard-db/bin/Release/fusioboard_db.dll
/fusioboard-db/bin/Release/fusioboard_db.pdb
/API/bin/Release/net8.0
/API/obj/Release/net8.0
/fusioboadDbPrjt/obj/Debug
/fusioboadDbPrjt/bin/Debug
/fusioboadDbPrjt/fusioboadDbPrjt.dbmdl
/fusioboadDbPrjt/fusioboadDbPrjt.jfm
